{% extends "pagina/global/base.html" %}

{% block content %}
<section class="crud-form-section">
    <div>
        <h1>¿Estas seguro de que quieres eliminar "{{ articulo.title }}"? </h1>
        <p>Esta acción no se puede deshacer. </p>
        <form method="post" action="{% url 'delete_article' id=articulo.id %}">
            {% csrf_token %}
            <button type="submit" class="buttom-delete">Sí, eliminar</button>
            <a href="{% url 'articulo_detail' id=articulo.id %}" >No, cancelar</a>
        </form>
    </div>
</section>
{% endblock %}