{% extends "pagina/global/base.html" %}
{% load static %}
{% block content %}

        <section class="contacto">
            <h2>¡Contáctanos!</h2>
            <form>
                <input type="text" id="nombre" name="nombre" placeholder="Nombre" required>
                <input type="email" id="email" name="email" placeholder="Correo electrónico" required>
                <textarea id="mensaje" name="mensaje" placeholder="Mensaje" required></textarea>
                <button type="submit">Enviar</button>
            </form>
        </section>
        <section class="info-contacto">
            <h2>Información de contacto</h2>
            <p><i class="fas fa-phone"></i> Teléfono: 312-5269659</p>
            <p><i class="fas fa-envelope"></i> Correo electrónico: <a href="mailto:mun@viajes.com">info@viajes.com</a></p>
            <p><i class="fas fa-map-marker-alt"></i> Dirección: Calle 1, Rubio, Estado Tachira</p>
        </section>

{% endblock content %}