{% extends "pagina/global/base.html" %}
{%load static %}
{% block content %}
        <section id="destinos">
            <h2>Destinos populares</h2>
            <div class="destinos-grid">
                <div class="destino" style="background-image: url('{% static 'img/paris1.jpeg' %}');">
                    <div class="overlay">
                        <h3>París</h3>
                        <p>La ciudad de la luz y el amor</p>
                        <a href='{% url 'paris' %}'>Ver más</a>
                    </div>
                </div>
                <div class="destino" style="background-image: url('{% static 'img/roma1.jpeg' %}');">
                    <div class="overlay">
                        <h3>Roma</h3>
                        <p>La ciudad eterna</p>
                        <a href='{% url 'roma' %}'>Ver más</a>
                    </div>
                </div>
                <div class="destino" style="background-image: url('{% static 'img/tokio1.jpeg' %}');">
                    <div class="overlay">
                        <h3>Tokio</h3>
                        <p>La ciudad del futuro</p>
                        <a href='{% url 'tokio' %}'>Ver más</a>
                    </div>
                </div>
                <div class="destino" style="background-image: url('{% static 'img/New-york-img.jpg' %}');">
                    <div class="overlay">
                        <h3>Nueva York</h3>
                        <p>La ciudad que nunca duerme</p>
                        <a href='{% url 'nueva york' %}'>Ver más</a>
                    </div>
                </div>
                <div class="destino" style="background-image: url('{% static 'img/barcelona-img.jpg' %}');">
                    <div class="overlay">
                        <h3>Barcelona</h3>
                        <p>La ciudad de Gaudí</p>
                        <a href='{% url 'barcelona' %}'>Ver más</a>
                    </div>
                </div>
                <div class="destino" style="background-image: url('{% static 'img/syney-img.jpg' %}');">
                    <div class="overlay">
                        <h3>Sydney</h3>
                        <p>La ciudad de la ópera</p>
                        <a href='{% url 'sydney' %}'>Ver más</a>
                    </div>
                </div>
            <div class="destino" style="background-image: url('{% static 'img/berlin-img.jpg' %}');">
                <div class="overlay">
                <h3>Berlín</h3>
                <p>La ciudad de la historia y la cultura</p>
                <a href='{% url 'berlin' %}'>Ver más</a>
                </div>
            </div>
            <div class="destino" style="background-image: url('{% static 'img/Londres-img.jpg' %}');">
                <div class="overlay">
                <h3>Londres</h3>
                <p>La ciudad de la corona británica</p>
                <a href='{% url 'londres' %}'>Ver más</a>
                </div>
            </div>
            <div class="destino" style="background-image: url('{% static 'img/rio1.jpg' %}');">
                <div class="overlay">
                <h3>Río de Janeiro</h3>
                <p>La ciudad de las playas y el Carnaval</p>
                <a href='{% url 'rio' %}'>Ver más</a>
            </div>
        </div>

        </section>
{% endblock content %}