{% extends "pagina/global/base.html" %}
{% load static %}
{% block content %}

    <section id="destinos">

        <div class="buscador-centro">
            <form method="GET" action="{% url 'destinos' %}" class="form-busqueda">
                <input type="text" name="q" placeholder="Buscar paises..."
                value="{{ query|default_if_none:'' }}" class="input-busqueda">
                <button type="submit" class="btn-busqueda">Buscar</button>
            </form>
        </div>
        <br>
                        <a href="{% url 'country_create'  %}" class="pastel-btn">Crear pais</a>

        {% if countries %}
            <div class="destinos-carrusel">
                {% for country in countries %}
                    {% include "pagina/partials/card_country.html" %}
                {% empty %}
                    <p>No hay paises</p>
                {% endfor %}
            </div>
            <div class="pagination" style="display: flex; justify-content: center; align-items: center; margin-top: 2em;">
                <span class="step-links" style="display: flex; gap: 2em; align-items: center;">
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}{% if query %}&q={{ query }}{% endif %}" class="btn btn-primary">Anterior</a>
                    {% endif %}

                    <span class="current" style="font-weight: bold; color: #0057ff;">
                        Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}{% if query %}&q={{ query }}{% endif %}" class="btn btn-primary">Siguiente</a>
                    {% endif %}
                </span>
            </div>
        {% else %}
            <p>No se encontraron paises para "{{ query }}"</p>
        {% endif %}

    
    </section>
{% endblock content %}