{% extends "pagina/global/base.html" %}
{%load static%}
{% block content %}
<section class="contenido">
    <div class="bloque">
        <div class="texto">
            <h2>París, la Ciudad de la Luz</h2>
            <p>París es la capital de Francia y constituye una de las ciudades más importantes e influyentes del mundo. Desde el punto de vista turístico, París es una de las ciudades más visitadas de Europa.</p>
        </div>
    <div class="imagen">
    <img src={% static 'img/paris2.jpeg' %} alt="París">
    </div>
    </div>
    <div class="bloque reverse">
        <div class="imagen">
        <img src={% static 'img/paris4.jpeg' %} alt="Torre Eiffel">
    </div>
    <div class="texto">
        <h2>¿Por qué visitar París?</h2>
        <p>París es una ciudad que parece diseñada para el disfrute del viajero. Sus calles, plazas, edificios, jardines y monumentos parecen ideados para que cualquier persona que visite París desee volver.</p>
        <p>Visitar la Torre Eiffel, el Arco del Triunfo o la Catedral de Notre Dame, acudir a un espectáculo de cabaret en el mítico Moulin Rouge, o bien pasear por algunos de los barrios más pintorescos de la ciudad como Montmartre o Montparnasse, son algunas de las experiencias que todo el mundo debería tener la ocasión de disfrutar.</p>
    </div>
    </div>
    <div class="bloque">
        <div class="texto">
        <h2>¿Cómo organizar el viaje?</h2>
        <p>Antes de viajar te sugerimos que comiences informándote sobre la historia de París y algunos datos prácticos que pueden ser de utilidad. Tras conocer los lugares más interesantes de París, los principales museos, las mejores zonas para alojarse y los platos más típicos, sólo falta hacer las maletas y prepararse para disfrutar de una de las ciudades más románticas del mundo.</p>
    </div>
    <div class="imagen">
        <img src={% static 'img/paris3.jpeg' %} alt="Disneyland">
    </div>
    </div>
</section>

{% endblock content %}