{% extends "pagina/global/base.html" %}
{%load static%}
{% block content %}
<section class="contenido">
    <div class="bloque">
        <div class="texto">
            <h2>París, la Ciudad de la Luz</h2>
            <p>París es la capital de Francia y constituye una de las ciudades más importantes e influyentes del mundo. Desde el punto de vista turístico, París es una de las ciudades más visitadas de Europa.</p>
        </div>
    <div class="imagen">
    <img src={% static 'img/paris2.jpeg' %} alt="París">
    </div>
    </div>
    <div class="bloque reverse">
        <div class="imagen">
        <img src={% static 'img/paris4.jpeg' %} alt="Torre Eiffel">
    </div>
</section>

{% endblock content %}