{% extends "pagina/global/base.html" %}
{%load static %}
{% block content %}
    <div class="contenedor-articu">
        <h1>{{articulo.title}}</h1>
        <section class="seccion-articu">
            <div class="evento">
                <img src="{{articulo.image.url}}" alt="{{articulo.places}}">
                <div class="info-evento">
                    <h2>{{articulo.places}}</h2>
                </div>
            </div>

            <h3>Reseñas</h3>
    {% for review in reviews %}
            <div class="reseña">
                <strong>{{ review.user.username }}</strong> ({{ review.date }}):<br>
                {{ review.text }}
                {% if user == review.user %}
                    <div class="acciones-reseña">
                        <a href="{% url 'update_review' review.id %}" class="btn btn-secondary">Editar</a>
                        <a href="{% url 'delete_review' review.id %}" class="btn btn-danger">Eliminar</a>
                    </div>
                {% endif %}
            </div>
        {% empty %}
            <p>No hay reseñas aún. ¡Sé el primero en escribir una!</p>
        {% endfor %}

            <a href="{% url 'create_review' articulo.id %}" class="btn btn-primary">Escribir Reseña</a>
        </section>
    </div>
{% endblock content %}